<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
</head>
{% extends 'webProject/base.html' %}
{% load static %}
{% block content %}

 <div class="formContainer">
    {% if 'valid' in request.GET %}
        <p>Form sent correctly. Thanks!</p>
    {% endif %}
     <form action="" method="POST" style="text-align: left">
         {% csrf_token %}
          <table style="margin: 10px auto">
              {{ form.as_table| title }}
          </table>
         <input type="submit" style="width: 100px; position: relative; left: 75%">
     </form>
 </div>
    {{request.POST}}
{% endblock %}
</html>