<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
</head>
{% extends 'webProject/base.html' %}
{% load static %}
{% block content %}

 <div class="formContainer">
     <form action="" method="POST" style="text-align: center">
         {% csrf_token %}
          <table style="margin: 10px auto">
              {{ form.as_table| title }}
          </table>
     </form>
    <input type="submit" value="Send" style="width: 100px; position: relative; left: 75%">
 </div>
    {{request.POST}}
{% endblock %}
</html>