<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
{% extends 'webProject/base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div style="float: right; color: white">
        {% include 'cart/widget.html' %}
    </div>
    <div class="row">
{% for product in products %}
    <div class="col-md-4">
        <div class="card" style="margin: 5px 5px;">
            <img src="{{ product.picture.url }}" class="card-img-top" style="height: 180px;" alt="store item image">
            <div class="card-body" style="text-align: center">
                <h6 class="card-title"> {{ product.name|title }} </h6>
                <p class="card-text"> {{ product.price }}$ </p>
            </div>
            <div class="footer text-center" style="background-color: white; margin-bottom: 3px;">
                <a href="{% url 'cart:add' product_id %}" class="btn btn-success"> Add to cart</a>
            </div>
        </div>
    </div>
{% endfor %}
    </div>
</div>
{% endblock %}
</html>