<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
{% extends 'webProject/base.html' %}
{% load static %}
{% block content %}
    {% for post in posts %}
         <section class="page-section clearfix">
            <div class="container">
              <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ post.picture.url }}" alt="" style="float: right">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{ post.title }}</span>
                    <span class="section-heading-upper">{{ post.content }}</span>
                  </h2>
                  <div style="text-align: left; font-size: 0.8em">
                      <p>By: {{ post.author| title }} </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
    {% endfor %}
    <section>
        <div style="width: 75%; margin: auto">
            <p style="text-align: center; color: white">
                Category:
                        <a style="padding: 3px; color: white ">{{ categories.name }}</a>
            </p>
        </div>
    </section>
{% endblock %}
</html>